@use "sass:math";
@use "../global/" as g;

.l-contents {


  &__inner {

    @include g.mq('md') {
      display: flex;
      column-gap: 3.4%;
    }
  }

  &__main {

    @include g.mq('md') {
      width: 65%;
    }
  }

  &__widget {

    @include g.mq('md') {
      width: 31.6%;
      padding: 0 12px;
    }
  }
}